{% extends "header.html" %}

{% block body %}

<div class="well" align= "left">
	<img>Let's put an image here.</img>

	<p>My website is a repository for all the stuff that I'm interested 
	in or working on.</p>
	
	<p>Typically, all that stuff falls into three categories: coding, 
	finance, and lifeskills. Learning about areas as diverse as programming, 
	finance, cooking has been nothing short of amazing.</p>
	
	<p>For programming, I started off with Python. Python has been awesome 
	and I've used Python to web-scrape, automate repetitive tasks, and 
	built this website (using Flask).</p>

	<p>Investing is another useful skill to have. I am a CFA Charterholder 
	and private investor. I analyse equities from both a bottom-up 
	and top-down approach while keeping the general market valuations in perspective. 
	Investing should not be complicated and that is my starting point for all investments.
	</p>
	
	<p>I hope that my website will be of use to you.</p>
	
</div>
{% endblock %}