{% extends "header.html" %}

{% block body %}
<div class = "container" align="center" style = "min-height:100%">
	<div class="row" max-height=20%>
		<div class="col-md-5 " align= "left" id="qotd">
			<div class = "well well-sm">
				<h3>Quote of the Moment</h3>
				<blockquote class="blockquote">
					<p class="mb-0">" {{ qotd_display[0] }} "</p>
					<p class="mb-0" align = "right"> - {{ qotd_display[1] }}</p>
				</blockquote>
			</div>
		</div>
		
		<div class="col-md-7">
			<div class="well well-sm" align= "left" id="iotd-well">
				<h3>Image of the Moment</h3>
					<div id="iotd">
						<img src={{ url_for('static', filename = iotd)}} alt="Image of the Moment">
					</div>
			</div>
		</div>
	</div>

	<div class = "row">
		<div class="col-md-12" align= "left" id="latest-blog">
				<div class = "well well-sm">
					<h3>Latest Posts</h3>
				</div>	
		</div>
	</div>
</div>
{% endblock %}