{% extends "header.html" %}

{% block body %}
<div class = "container" align="center" style = "min-height:100%">
	<div class="row" max-height=20%>
		<div class="col-md-5 " align= "left" id="qotd">
			<div class = "well well-sm clearfix">
				<h3>Quote of the Moment</h3>
				<blockquote class="blockquote">
					<p class="mb-0">" {{ qotd_display[0] }} "</p>
					<p class="mb-0" align = "right"> - {{ qotd_display[1] }}</p>
				</blockquote>

				<h3>Image of the Moment</h3>
					<div id="iotd">
						<img class="img-responsive" src={{ url_for('static', filename = iotd)}} alt="Image of the Moment">
					</div>
				</div>
		</div>
		
		<div class="col-md-7" align= "left" id="latest-blog">
				<div class = "well well-sm">
					<h3>Latest Updates</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>	
			</div>
		</div>
</div>
{% endblock %}