<div class="col-md-9 well" id="presenter">
	<img class='img-responsive' src="sg_prop.jpg" alt="Singapore Property Market chart">
	<p>I believe the chart above is worth a thousand words. This is updated whenever the SRX indexes are updated. I am by no means a property investor. Seasoned investors in this asset class will no doubt have an advantage in getting deals no matter the investment climate.</p>
	<p>However, my view is that if we get the general trend right, there is little that can go wrong. To paraphrase the best investor I know, I rather be roughly right than precisely wrong.</p>
</div>